doc/_build/
**/__pycache__
**/pytest_cache
**/*.egg
**/*.egg-info
**/.astropy
**/.cache
**/.config
**/.wget*
**/_tests
**/dist
**/eggs
**/build
**/_catalogs
**/.ipynb_checkpoints
**/bak
*.DS_Store
examples/run/*
**/*.out

dvpt/reduce_memory_fof_catalog/memory-monitor
dvpt/reduce_memory_fof_catalog/*.npy
dvpt/reduce_memory_fof_catalog/*.png
